<title>Teachart</title>
<h1>What is Teachart?</h1>
<div>
    <div class="kek">
	    <p>
	  Theachart is professors' rating system.
	  The project core goal is to provide information about quallity of learning process to students. You can leave feedback about your lecturer, rate his university studies and inspect rating charts.
	    </p>
    </div>
    <a href="#">See the top-30 of the week</a><br>
    <b>Or</b><br>
    <input type="text" name="searchbar" placeholder="Find your professor">
</div>
<%= stylesheet_link_tag "welcome" %>
